@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --canvas-text-padding: 10px;
    --color-background: #DDD8C4;
    --color-1: #A3C9A8;
    --color-2: #84B59F;
    --color-3: #69A297;
    --color-4: #50808E;
    --color-5: #e18787;
    --message-width: 600px;
    --message-height: 200px;
    --app-margin: 5rem;
}

.card {
    margin-top: 1rem;
    border: 5px solid var(--color-1);
    border-radius: 10px;
    padding: 10px;
    background-color: #fff;
    width: clamp(25vw, 300px, 100vw);
    padding-bottom: 24px;
}

.card hr {
    margin-top: 1rem;
}

.card header {
    margin-bottom: 1.25rem;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.card .subtitle {
    font-size: 1rem;
    color: #555;
}

.card form {
    margin: 1rem auto auto auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
}

button {
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--color-1);
    color: #000;
    margin: 0;
    font: inherit;
    border: 1px solid #555;
    border-radius: 5px;
    display: grid;
    place-content: center;
    padding: 5px;
}

button:hover {
    background-color: #4a726a;
    color: white;
    cursor: pointer;
}

button:active {
    box-shadow: 1px 1px 10px 1px #777;
}

button:focus {
  outline: 1px solid var(--color-1);
  outline-offset: 1px;
}

button:disabled {
    background-color: #ccc;
    color: #888;
}

button:disabled:hover {
    color: #888;
    cursor: auto;
}

.card .header-action {
    display: flex;
    justify-content: start;
}

.room-selection-box {
    padding: 10px;
    background-color: #fff;
    border-bottom: 1px solid var(--color-3);
}

a:last-child .room-selection-box {
    border-bottom: none;
}

.room-selection-box:hover {
    background-color: #ddd;
    cursor: pointer;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:focus {
    outline: 2px solid var(--color-4);
}

a:active {
    color: black;
}

a {
    color: black;
}

body {
    background: var(--color-background);
    font-family: 'Jost',arial,sans-serif;
}

.app-container {
    display: flex;
    justify-content: center;
    margin-left: var(--app-margin);
    margin-right: var(--app-margin);
}

.chat-container {
    border: 5px solid var(--color-1);
    border-radius: 10px;
    border-offset: 5px;
    height: 90vh;
    height: 90dvh;
    display: flex;
    margin-top: var(--menu-height);
    flex-direction: column;
    justify-content: end;
}

.message-container {
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.editor {
    position: relative;
    width: var(--message-width);
    height: var(--message-height);
    border-top: 2px solid var(--color-1);
}

.editor-text-space {
    position: absolute;
    top:0;
    padding: var(--canvas-text-padding);
    overflow: hidden;
}

.editor-text-space:focus {
    outline: 1px solid var(--color-1);
    outline-offset: 1px;
    box-shadow: 1px 1px 10px 1px var(--color-1);
}

.message-viewer {
    position: relative;
    width: var(--message-width);
    height: var(--message-height);
    overflow:hidden;
    outline: 1px solid black;
}

.message-viewer-text-space {
    position: absolute;
    top:0;
    padding: var(--canvas-text-padding);
}

.message-viewer-header {
    position: absolute;
    top:0;
    right: 0;
    display: flex;
    flex-direction: column;
}

.message-viewer-header .username {
    background: var(--color-1);
    padding: 2.5px 15px;
    border-bottom-left-radius: 10px;
    font-size: 0.75rem;
    min-width: 5rem;
    max-width: 7.5rem;
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
    margin: auto;
}

.message-viewer-header .datetime {
    font-size: 0.725rem;
    margin-left: auto;
    margin-right: 5px;
}



.tools {
    background: #A3C9A8;
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-basis: 1 1 auto;
    padding: 10px 24px;
}

.tools input[type="radio"],
.tools button {
    -webkit-appearance: none;
    appearance: none;
    background-color: #69A297;
    margin: 0;
    font: inherit;
    width: 1.75em;
    height: 1.75em;
    border: 1px solid #69A297;
    border-radius: 50%;
    display: grid;
    place-content: center;
}

.tools input[type="radio"]::before {
    content: "";
    display: block;
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    background-color: #000;
}

.tools input[type="radio"]:hover,
.tools button:hover {
    background-color: #4a726a;
    cursor: pointer;
}

.tools input[type="radio"]:checked {
    background-color: #fff;
}

.tools input[type="radio"]:active,
.tools button:active {
    box-shadow: 1px 1px 10px 1px #777;
}

.tools input[type="radio"]:focus,
tools button:focus {
  outline: 1px solid currentColor;
  outline-offset: 1px;
}

.tools input[type="radio"].size.size-medium::before {
    width: 1em;
    height: 1em;
}

.tools input[type="radio"].size.size-big::before {
    width: 1.50em;
    height: 1.50em;
}

.tools button:disabled {
    background-color: grey;
}

.tools button:disabled:hover {
    background-color: grey;
    cursor: auto;
}

.tools button:disabled:active {
    box-shadow: none;
}

.tools .color {
    width: 2.5em;
    height: 2.5em;
}

menu {
    padding: 5px 20vw;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid black;
    margin-bottom: 5px;
    height: 50px;
}

.secondary-button {
    background: none;
}

.return-button {
    margin-right: auto;
}

form button {
    margin-top: 10px;
}


input[type="text"],
input[type="password"] {
    padding: 2.5px 10px;
    border-radius: 5px;
    border: 1px solid black;
}

input[type="text"]:focus,
input[type="password"]:focus {
    outline: 1px solid var(--color-1);
    outline-offset: 1px;
    box-shadow: 1px 1px 10px 1px var(--color-1);
}

input[type="text"].invalid,
input[type="password"].invalid {
    background-color: var(--color-5);
    box-shadow: 1px 1px 10px 1px var(--color-5);
}

.error {
    margin-top: 10px;
    border: 1px dashed black;
    background-color: var(--color-5);
    display: flex;
    justify-content: center;
}
